<form action='/register' method='post'>
    <fieldset>
        <legend>Login Form</legend>
        <div>
        <label for='username'>Username</label>
        <input name='username' id='username' type='text'/>
        </div>
        <div>
        <label for='password'>Password</label>
        <input name='password' id='password' type='password' />
        </div>
        <div>
         <label for='comments'>Comments</label> 
        <textarea name='comments' id='comments' cols='40' rows='10'>
            Write a comment here....
        </textarea>
        </div>
        <input type='submit' value='Log In' />
    </fieldset>
</form>
